.popUpContainer{
    margin: 1rem 2rem;
}


.listContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 columns of equal width */
    gap: 10px; /* Adjust the gap between items as needed */
}

.listItem
{
    margin: 0.1rem 0.5rem;
}

.errorMessage
{
    margin: 1rem 2rem 1rem 0rem;
    text-align: end;
    color: red;
}
