.outlinedBtn {
    color: #2A2E34 !important;
    border: none !important;
    background-color: white !important;
    border-radius: 20px !important;
    margin: 0.2rem 0.5rem;
}

.modalContent {
    display: flex;
    flex-direction: column;
}

.sheetSelector {
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 10;
    /* border-bottom: 1px solid #e0e0e0; */
}

.tableContainer {
    /* border: 1px solid #DCDEDE; */
    border-radius: 8px;
    max-height: 75vh;
    overflow-x: auto;
    overflow-y: auto; 
}

