.main{
    display: flex;
    flex-direction: column;
}

.heading{
    padding-bottom: 3px;
}

.btnDiv{
    display: flex;
    gap: 10px;
}

.buttonsFilled{
    background-color: #3B7DDD;
    border:1px solid #DCDEDE;
    border-radius: 23px;
    padding: 1%;
    font-weight: 500;
    font-size: 14px;
    color: white;
}

.buttons{
    background-color: white;
    border:1px solid #DCDEDE;
    border-radius: 23px;
    padding: 1%;
    font-weight: 500;
    font-size: 14px;
    color: #2A2E34;
}

