.table {
    /* width: 100%; */
    border-collapse: collapse;
  }
  
  .th{
    padding: 5px;
    /* padding-left: 15px; */
    text-align: center;
    border-bottom: 1px solid #DCDEDE;
    font-weight: 600;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;

    position: sticky;
    top: 0;
    z-index: 1;
    /* border-radius: 8px; */
    
  }
  .td {
    /* white-space: nowrap; */
    min-width: 7rem;
    width: max-content;
    padding: 5px;
    cursor: default;
    /* padding-left: 15px; */
    text-align: center;
    border-bottom: 1px solid #DCDEDE;
    font-weight: 400;
    font-size: 14px;
    /* align-items: center; */
    /* justify-content: center; */
    
  }
  
  
  .totalRow
  {
    padding: 8px;
    padding-left: 15px;
    text-align: left;
    border-bottom: 1px solid #DCDEDE;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    background-color: #EEF6FC;
    
    /* border-radius: 8px; */
  }
  
  .tableContainer
  {
    border: 1px solid #DCDEDE;
    border-radius: 8px;
    height: 75vh;
    overflow-x: scroll;
  }

  .headRow .th:first-child
  {
    border-top-left-radius: 9px;
    /* background-color: red; */
  }

  .headRow .th:last-child 
  {
    border-top-right-radius: 9px;
    /* background-color: red; */
  }

  .lastRow .totalRow:first-child
  {
    border-bottom-left-radius: 8px;
  }

  .lastRow .totalRow:last-child
  {
    border-bottom-right-radius: 8px;
  }

  /* .tr
  {
    border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
  } */

  .tabsContainer{
    display: flex;
  }

  .tabs
  {
    border-bottom: 2px solid rgb(160, 154, 154);
    margin: 0.5rem;
  }

  .active
  {
    border-bottom: 2px solid #0EB198;
    margin: 0.5em;
  }

  .messageContainer
  {
    text-align: end;
    padding: 0px 5px;
    color: rgb(221, 49, 49);
  }