.modalContainer {
	.labelDiv {
		/* background-color: red; */
		padding: 5px 8px;
		border: 1px solid rgb(233, 233, 233);
		border-radius: 5px;
	}
	.flexDiv {
		display: flex;
		align-items: center;
		gap: 2px;
		margin: 5px 0;
	}
}

.buttonContainer {
	border-top: 1px solid #eee;
	padding: 16px;
	position: sticky;
	bottom: 0;
	background-color: #fff;
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.formContainer {
	.flexDiv {
		display: flex;
		align-items: center;
		gap: 15px;
		margin: 10px 5px;
	}
}