.progressContainer
{
    height: 100%;
    margin: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.progressStatus
{
    margin-top: 1rem;
    color: gray;
}