.modalContainer {
	.labelDiv {
		/* background-color: red; */
		padding: 5px 8px;
		border: 1px solid rgb(233, 233, 233);
		border-radius: 5px;
	}
	.flexDiv {
		display: flex;
		align-items: center;
		gap: 2px;
		margin: 5px 0;
	}
}

.buttonContainer {
	padding: 16px;
	position: sticky;
	bottom: 0;
	background-color: #fff;
	display: flex;
	justify-content: flex-end;
	/* gap: 10px; */
}

.formContainer {
	.flexDiv {
		display: flex;
		align-items: center;
		gap: 15px;
	}
}

.viewContainer {
    /* padding: 20px; */
}

.vaeTable {
    /* margin-top: 16px; */
	height: 65vh;
	overflow: auto;
}

.vaeTable :global(.ant-table-thead > tr > th:not(.ant-table-cell-fix-left)) {
  position: sticky;
  top: 0;
  z-index: 2;
}

.vaeTable :global(.ant-table-thead > tr > th.ant-table-cell-fix-left) {
  background-color: #f5f5f5;
  z-index: 3;
}

.vaeTable :global(.ant-table-cell) {
    /* white-space: nowrap; */
}

.vaeTable :global(.ant-table-cell) {
    text-align: center;
}

.vaeTable :global(.ant-table-cell:first-child) {
    text-align: left;
}

.flexDiv {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.formItem {
    flex: 1;
    min-width: 200px;
    margin-bottom: 0 !important;
}

.fullWidth {
    width: 100%;
}