.backOptionContainer {
	text-align: left;
}

.securityOverview {
	display: flex;
	/* margin: 0.2rem 1rem ; */
}

.securityOverviewCard {
	padding: 10px;
	margin: 0 10px 0 0;
	/* height: 90px; */
	transition: box-shadow 0.3s ease;
	cursor: pointer;
	box-shadow: var(--card-box-shadow);
	border-radius: var(--card-border-radius);
	border: var(--card-border);
	background-color: var(--card-background-color);
	text-align: center;
}

.active {
	border: var(--card-border-active);
}

.cardTitle {
	margin: 0;
	padding: 0;
	display: inline;
}

.pageTitle {
	margin: 10px 0;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
}

.tableContainer {
	max-height: 70vh;
	overflow-y: auto;

}

.unmappedSecuritiesList {
	margin: 2rem;
	text-align: left;
	max-height: 60vh;
	overflow-y: auto;
}

.unmappedSecurity {
	display: flex;
	justify-content: space-between;
	margin: 0px 10px;
	padding: 5px 10px;
	border: 1px solid grey;
	border-top: none;

}

.unmappedSecurity:first-child {
	border-top: 1px solid grey;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.unmappedSecurity:last-child {
	border-top: 1px solid grey;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}