.previewPage
{
    display: flex;
    justify-content: center;
}

.tableContainer
{
  /* border-radius: 8px; */
  /* max-width: 90vw; */
  /* width: 95%; */
  /* max-height: 85vh; */
  /* overflow: auto; */
  /* margin: 1rem; */
  /* background-color: red; */
}

.extractDataBtn
{
  margin: 1rem 0rem;
  text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
  }
  
.th{
  padding: 8px;
  padding-left: 15px;
  text-align: left;
  border-bottom: 1px solid #DCDEDE;
  font-weight: 600;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  min-width: 8rem;
}

.td {
  padding: 8px;
  padding-left: 15px;
  text-align: left;
  border-bottom: 1px solid #DCDEDE;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  
}

.headRow .th:first-child
{
  border-top-left-radius: 9px;
}

.headRow .th:last-child 
{
  border-top-right-radius: 9px;
}

.lastRow .totalRow:first-child
{
  border-bottom-left-radius: 8px;
}

.lastRow .totalRow:last-child
{
  border-bottom-right-radius: 8px;
}

.cardContainer {
  /* margin-top: 10px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* padding: 10px 0; */
  font-size: smaller;
  text-align: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px 0 0;
  /* height: 90px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  /* border-color:rgb(64, 150, 255); */
}

.cardTitle {
  margin: 0;
  padding: 0;
  display: inline;
  font-size: medium;
}

