
.outlinedBtn{
  color:  #2A2E34 !important;
  border:  none!important;
  background-color: white !important;
  border:  1px solid  #0EB198!important;
  border-radius: 6px !important;
  /* padding: 8px 25px 8px 25px; */
  margin:0.1rem 0.5rem;
 
}

.filledBtn
{
  color: white !important;
  border:  2px solid  #0EB198!important;
  background-color: #0EB198!important;
  border-radius: 6px !important;
  min-width: 75px;
  margin:0.1rem 0.5rem;
  /* padding: 8px 25px 8px 25px; */
  /* margin:0.2rem 3rem; */
}

.disabledFilledBtn{
  cursor: not-allowed;
  border: #D95F0E;
  background-color: #D95F0E;
  border-radius: 20px !important;
  padding: 8px 25px 8px 25px;
  color: white;
}

.filledBtn:hover{

  /* background-color:  #D95F0E!important; */
  /* border: 2px solid  #b64a02a9 !important; */
  /* border :none !important; */
}

.okButton
{
  width: 150px;
}

.DisbaledBtn
{
  color: #0EB198 !important;
  border:  2px solid  #0EB198!important;
  background-color:#f2f2f2!important;
  border-radius: 6px !important;
  min-width: 75px;
  margin:0.2rem 0.5rem;
  /* padding: 8px 25px 8px 25px; */
  /* margin:0.2rem 3rem; */
}