.pageContainer {
    display: flex;
    justify-content: center;
    /* padding: 0.5rem; */
    /* background-color: red; */
}

.baseFileListPage {
    width: 100%;
}

.headerContainer {
    display: flex; 
    justify-content: space-between;
}

.buttonsContainer {
    display: flex; 
    justify-content: flex-end; 
    gap: 1rem; 
}

.tableHeading
{
    font-size: 25px;
    font-weight: bold;
}

.baseDataTableContainer {
    overflow: auto;
    max-height: 80vh;
    margin: 1rem 0rem;
}