:root {
	--primary-theme-color: #0EB198;
	--primary-text-color: black;
	--primary-btn-text-color: white;
	--secondary-text-color: #2A2E34;
	--invert-theme-color: white;
	--invert-text-color: white;
	--invert-btn-text-color: black;
	--primary-link-color: #5196ff;
	--error-text-color: red;
	--border-radius: 5px;
  --section-background-color: white;
  --section-box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --section-border-radius: 5px;
  --section-border: 1px solid rgb(245, 245, 245);
  --card-background-color: white;
  --card-box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --card-border-radius: 5px;
  --card-border: 1px solid rgb(245, 245, 245);
  --card-border-active: 1px solid #66dbca;
  --table-background-color: white;
  --table-box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --table-border-radius: 5px;
  --table-border: 1px solid rgb(245, 245, 245);
  --table-header-color: #DCDEDE;
  --tabs-background-color: #DCDEDE;
  --tabs-border-radius: 5px;
  --tabs-background-color-active: rgb(240, 240, 240);
  --tabs-background-color-hover: rgb(240, 240, 240);
  --btn-box-shadow: 0 10px 15px 2px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --body-background-color: rgb(245, 245, 245);
}

* {
  font-family: 'DM Sans', sans-serif;
  /* font-family: 'Segoe UI', 'Helvetica', 'Arial', sans-serif; */
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

body {
  background-color: rgb(245, 245, 245);
}
